<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="author" content="webname">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="css/css.css" />
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<title>上门家访</title>
</head>

<body>	
	
	<div class="account_sub">
		<form>
			
			<h2>确认彩之云账号</h2>
			
			<div class="account_info">
				
				<div class="account_face"><img src="images/test/account_face.png" /></div>
				
				<dl>
					<dt><span>彩之云账户：</span><em>15099935916</em></dt>	
					<dd><span>你的姓名：</span><em>张三</em></dd>	
				</dl>
					
			</div>
			
			<div class="account_tip">
				<p>若未能获取您的彩之云账号信息，请确认您OA账号的手机号码是否和彩之云一致，OA手机号码需要修改请联系人力资源工作人员</p>	
			</div>
			<input type="submit" class="sub" value="确认绑定" />
				
		</form>	
	</div>
	
	
</body>
</html>
