<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="author" content="webname">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="css/css.css" />
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<title>上门家访</title>
</head>

<body>	
	
	<div class="invest_search">
		
		<div class="time_btn lt">全部小区</div>
		
		<div class="search_area">
			<form>
				<input type="text" class="text" placeholder="按照姓名和手机号进行搜索" />	
				<input type="submit" class="sub" value="" />
			</form>	
		</div>
		
		<div class="time_btn lt">全部时间</div>
		
		<div class="clear"></div>	
	</div>
	
	<div class="invest_area">
		
		<div class="invest_head">
			<span>评价时间</span>
			<span>业主姓名</span>
			<span>小区</span>
			<span class="end">评价</span>	
		</div>
		
		<div class="invest_li">
			
			<div class="li_bg"></div>
			
			<div class="li_inner">
				
				<dl>
					<dt>2015-07-03</dt>
					<dd>23:00:30</dd>
				</dl>
				<span>张三</span>
				<dl class="pos">
					<dt>碧水龙庭</dt>
					<dd>7栋4单元</dd>
				</dl>
				<span>
					<a href="javascript:;">非常满意<em>&gt;</em></a>
				</span>		
				
			</div>
			
			<div class="clear"></div>	
		</div>
		
		<div class="invest_li">
			
			<div class="li_bg"></div>
			
			<div class="li_inner">
				
				<dl>
					<dt>2015-07-03</dt>
					<dd>23:00:30</dd>
				</dl>
				<span>张三</span>
				<dl class="pos">
					<dt>碧水龙庭</dt>
					<dd>7栋4单元</dd>
				</dl>
				<span>
					<a href="javascript:;">非常满意<em>&gt;</em></a>
				</span>		
				
			</div>
			
			<div class="clear"></div>	
		</div>
		
		<div class="invest_li">
			
			<div class="li_bg"></div>
			
			<div class="li_inner">
				
				<dl>
					<dt>2015-07-03</dt>
					<dd>23:00:30</dd>
				</dl>
				<span>张三</span>
				<dl class="pos">
					<dt>碧水龙庭</dt>
					<dd>7栋4单元</dd>
				</dl>
				<span>
					<a href="javascript:;">非常满意<em>&gt;</em></a>
				</span>		
				
			</div>
			
			<div class="clear"></div>	
		</div>
		
		<div class="invest_li">
			
			<div class="li_bg"></div>
			
			<div class="li_inner">
				
				<dl>
					<dt>2015-07-03</dt>
					<dd>23:00:30</dd>
				</dl>
				<span>张三</span>
				<dl class="pos">
					<dt>碧水龙庭</dt>
					<dd>7栋4单元</dd>
				</dl>
				<span>
					<a href="javascript:;">非常满意<em>&gt;</em></a>
				</span>		
				
			</div>
			
			<div class="clear"></div>	
		</div>
		
		<div class="invest_li">
			
			<div class="li_bg"></div>
			
			<div class="li_inner">
				
				<dl>
					<dt>2015-07-03</dt>
					<dd>23:00:30</dd>
				</dl>
				<span>张三</span>
				<dl class="pos">
					<dt>碧水龙庭</dt>
					<dd>7栋4单元</dd>
				</dl>
				<span>
					<a href="javascript:;">非常满意<em>&gt;</em></a>
				</span>		
				
			</div>
			
			<div class="clear"></div>	
		</div>
		
		<div class="invest_li">
			
			<div class="li_bg"></div>
			
			<div class="li_inner">
				
				<dl>
					<dt>2015-07-03</dt>
					<dd>23:00:30</dd>
				</dl>
				<span>张三</span>
				<dl class="pos">
					<dt>碧水龙庭</dt>
					<dd>7栋4单元</dd>
				</dl>
				<span>
					<a href="javascript:;">非常满意<em>&gt;</em></a>
				</span>		
				
			</div>
			
			<div class="clear"></div>	
		</div>
		
		<div class="invest_li">
			
			<div class="li_bg"></div>
			
			<div class="li_inner">
				
				<dl>
					<dt>2015-07-03</dt>
					<dd>23:00:30</dd>
				</dl>
				<span>张三</span>
				<dl class="pos">
					<dt>碧水龙庭</dt>
					<dd>7栋4单元</dd>
				</dl>
				<span>
					<a href="javascript:;">非常满意<em>&gt;</em></a>
				</span>		
				
			</div>
			
			<div class="clear"></div>	
		</div>
		
		<div class="invest_li">
			
			<div class="li_bg"></div>
			
			<div class="li_inner">
				
				<dl>
					<dt>2015-07-03</dt>
					<dd>23:00:30</dd>
				</dl>
				<span>张三</span>
				<dl class="pos">
					<dt>碧水龙庭</dt>
					<dd>7栋4单元</dd>
				</dl>
				<span>
					<a href="javascript:;">非常满意<em>&gt;</em></a>
				</span>		
				
			</div>
			
			<div class="clear"></div>	
		</div>
		
		<div class="invest_li">
			
			<div class="li_bg"></div>
			
			<div class="li_inner">
				
				<dl>
					<dt>2015-07-03</dt>
					<dd>23:00:30</dd>
				</dl>
				<span>张三</span>
				<dl class="pos">
					<dt>碧水龙庭</dt>
					<dd>7栋4单元</dd>
				</dl>
				<span>
					<a href="javascript:;">非常满意<em>&gt;</em></a>
				</span>		
				
			</div>
			
			<div class="clear"></div>	
		</div>
		
		<div class="invest_li">
			
			<div class="li_bg"></div>
			
			<div class="li_inner">
				
				<dl>
					<dt>2015-07-03</dt>
					<dd>23:00:30</dd>
				</dl>
				<span>张三</span>
				<dl class="pos">
					<dt>碧水龙庭</dt>
					<dd>7栋4单元</dd>
				</dl>
				<span>
					<a href="javascript:;">非常满意<em>&gt;</em></a>
				</span>		
				
			</div>
			
			<div class="clear"></div>	
		</div>
			
	</div>
	
	<div class="invest_count">
		
		<p>本月共有 <span>3127</span> 条评价</p>
		
		<dl class="now">
			<dt>非常满意</dt>
			<dd class="red">100</dd>	
		</dl>
		
		<dl>
			<dt>满意</dt>
			<dd class="blue">50</dd>	
		</dl>
		
		<dl>
			<dt>一般</dt>
			<dd class="green">30</dd>	
		</dl>
		
		<dl>
			<dt>不满意</dt>
			<dd class="green">20</dd>	
		</dl>
		
	</div>
	<div class="invest_count_tip"></div>
	
</body>
</html>
