<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="author" content="webname">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="css/css.css" />
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<title>上门家访</title>
</head>

<body>	
	
	<div class="sign_info">
		
		<dl>
			<dt><span>业主姓名：</span><em>张三</em></dt>	
			<dd><span>业主住址：</span><em>彩科彩悦大厦彩科大厦701</em></dd>	
			<dd><span>评价时间：</span><em>2015-07-03   23：00</em></dd>
			<dd><span>评价内容：</span><em>非常的热情，非常的专业~~</em></dd>
		</dl>
		
		<div class="sign_judge">
			<span>综合评价：</span>	
			<em></em>
			<i>非常满意</i>
		</div>
		<div class="clear"></div>
		
		<div class="sign_photo">
			<img src="images/test/sign_p1.png" />	
			<img src="images/test/sign_p2.png" />	
			<img src="images/test/sign_p3.png" />	
			<div class="clear"></div>
		</div>
			
	</div>
	
	<div class="sign_add">
		<form>
			
			<textarea></textarea>
			
			<input type="submit" class="sub" value="添加标记" />
				
		</form>	
	</div>
	
	
</body>
</html>
